.camera-params {
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
  width: 100%;
}

.params-row {
  display: flex;
  gap: var(--margin-m);
}

.to-column {
  flex-direction: column;
}

.params-row > div > p {
  line-height: 120%;
  margin-bottom: var(--margin-s);
}
