.base-params {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  gap: var(--margin-m);
  justify-content: end;
}

.input-row {
  display: flex;
  gap: var(--margin-s);
}

.active {
  background-color: var(--common-color-common-accent);
}

.hide {
  display: none;
}

.inactive {
  pointer-events: none;
}
