@use "../../../../styles/global.scss" as *;
.panel {
  @include blurred-background;
  user-select: none;
  z-index: 10;
  height: var(--editor-size-editor-panel-height);
  width: var(--editor-size-editor-panel-width);
  padding: var(--margin-l);
  display: flex;
  flex-direction: column;
  // gap: var(--margin-m);
  color: var(--common-color-common-text);
  gap: var(--margin-l);
}

.free-long {
  flex-grow: 1;
  justify-content: space-between;
}

.panel.close {
  width: var(--editor-size-editor-panel-width-closed);
  align-items: center;
}

.panel-scene {
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
  flex: 1 1 0;
  min-height: 0;
}

.panel-group {
  display: flex;
  flex-direction: column;
  gap: var(--margin-l);
  height: max-content;
}

.panel-items {
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
  height: max-content;
}

.mesh-materials {
  flex: 0 0 var(--outputs-size-scene-mats-height);
}
