@use "../../../../styles/global.scss" as *;
.panel {
  @include blurred-background;
  user-select: none;
  z-index: 10;
  height: var(--editor-size-editor-panel-height);
  width: var(--editor-size-editor-panel-width);
  padding: var(--margin-l);
  display: flex;
  flex-direction: column;
  // gap: var(--margin-m);
  color: var(--common-color-common-text);
  gap: var(--margin-l);
}

.close {
  width: var(--editor-size-editor-panel-width-closed);
  align-items: center;
}

.panel-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  justify-content: space-between;
  gap: var(--margin-l);
}

.panel-set {
  display: flex;
  flex-direction: column;
  gap: var(--margin-l);
  flex: 0 0 auto;
}

.panel-group {
  display: flex;
  flex-direction: column;
  gap: var(--margin-s);
  flex: 1 1 0;
  min-height: 0;
}
