.params-container {
  display: flex;
  flex-direction: column;
  gap: var(--margin-s);
  width: 100%;
}

.params-row {
  display: flex;
  gap: var(--margin-m);
}

.params-row-closed {
  flex-direction: column;
}

.params-closed {
  width: 100%;
  align-items: center;
}

.params-row > div > p {
  line-height: 120%;
  margin-bottom: var(--margin-s);
}
