@use "./reset.scss";
@use "./colors.scss";
@use "./fonts.scss";
@use "./margins.scss";
@use "./sizes.scss";
body {
  background-color: var(--editor-utils-color-background-primary);
  font-family: "NT Somic", serif;
}

@mixin blurred-background {
  border-radius: var(--border-radius-m);
  border: 1px solid var(--utils-color-edge);
  background: var(--editor-utils-color-panel-background);
  backdrop-filter: blur(24px);
}
