.common-input-outer {
  display: flex;
  flex-direction: column;
  gap: var(--margin-xs);
}

.common-input-container {
  display: flex;
  background-color: var(--interactive-color-interactive-background-primary);
  border-radius: var(--border-radius-s);
  gap: var(--margin-s);
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--margin-s);
  color: var(--common-color-common-text);
}

.common-input-text-field {
  background-color: var(--interactive-color-interactive-background-primary);
  border-radius: var(--border-radius-s);
  box-shadow: none;
  border: none;
  text-align: center;
  height: var(--inputs-size-input-height);
}

.common-input-inner-label {
  color: var(--interactive-color-interactive-text-tertiary);
}
