@use "./InputCommon.module.scss";
a.controls {
  display: flex;
  gap: var(--margin-s);
  align-items: center;
}

.input-text {
  @extend .common-input-container;
}

.input-text-label {
  @extend .common-input-inner-label;
}

.input-text-field {
  @extend .common-input-text-field;
  width: 100%;
  max-width: 90px;
}

input {
  all: unset;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.group-label {
  margin-bottom: var(--margin-xs);
}

.number-inputs {
  display: flex;
  gap: var(--margin-s);
}

.vertical {
  flex-direction: column;
}

.pair-row {
  display: flex;
  max-width: 90px;
  clip-path: inset(0 round var(--border-radius-s));
  & > .input-text-field {
    border-radius: 0;
  }
}
