.scroll-panel-container {
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
  min-height: var(--scroll-panel-min-height, 0);
  flex: 0 1 auto;
  width: 100%;
}

.scroll-panel {
  background-color: var(--interactive-color-interactive-background-primary);
  border-radius: var(--border-radius-s);
  padding: var(--margin-m);
  flex: 0 1 auto;
  min-height: 0;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  clip-path: inset(0 round var(--border-radius-s));
  display: flex;
  flex-direction: column;
  gap: var(--margin-s);
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: var(--interactive-color-interactive-background-secondary)
      var(--interactive-color-interactive-background-primary);
  }
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: var(--interactive-color-interactive-background-primary);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--interactive-color-interactive-background-secondary);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
}

.fill {
  flex: 1 1 0;
}

.fill .scroll-panel {
  flex: 1 1 0;
}

.disable-scroll {
  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.closed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

.title-img {
  min-height: var(--button-size-button-icon-height);
  height: var(--button-size-button-icon-height);
  width: auto;
  aspect-ratio: 1;
  margin-top: var(--margin-xs);
}
