@import url("./styles/reset.css");
@import url("./styles/colors.css");
@import url("./styles/sizes.css");
@import url("./styles/margins.css");
@import url("./styles/fonts.css");
@import url("./styles/panels.css");
@import url("./styles/editor.css");
@import url("./styles/layout.css");
@import url("./styles/start.css");
@import url("./styles/library.css");
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--common-color-common-text);
  background-color: var(--editor-utils-color-background-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.panel {
  padding: 1rem;
  font-size: 0.875rem;
  font-family: sans-serif;
}

.panel > * + * {
  margin-top: 0.75rem;
}

.panel-title {
  font-weight: 600;
}

.panel-desc {
  color: #dfdfdf;
}

.input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.button {
  width: 100%;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
  font: inherit;
  border: none;
  cursor: pointer;
}

/* On start page, offset is in start.css (.page--start) */
.background-start {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
  top: 40px;
  overflow: hidden;
}

.circle-blur {
  margin: 0 auto;
  width: var(--window-size-window-width);
  height: var(--window-size-window-width);
  border-radius: 50%;
  background: rgba(255, 164, 83, 0.48);
  filter: blur(50px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 24%);
}

.circle-bg {
  width: var(--window-size-window-width);
  height: var(--window-size-window-width);
  border-radius: 50%;
  background: var(--common-color-common-accent);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 24%);
}

.circle-middle {
  width: calc(var(--window-size-window-width) - 20%);
  height: calc(var(--window-size-window-width) - 20%);
  border-radius: 50%;
  background: rgba(252, 147, 78, 1);
  filter: blur(50px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
}

.circle-top {
  width: calc(var(--window-size-window-width) - 30%);
  height: calc(var(--window-size-window-width) - 30%);
  border-radius: 50%;
  background: rgba(255, 163, 83, 1);
  filter: blur(50px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 38%);
}
