.small-button {
  background-color: var(--common-color-common-black);
  height: var(--button-size-button-mode-height);
  width: var(--button-size-button-mode-height);
  border-radius: var(--border-radius-s);
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-button > svg {
  height: var(--button-size-button-icon-height);
  width: auto;
  aspect-ratio: 1;
}

.action-button {
  background-color: var(--common-color-common-black);
  color: var(--common-color-common-white);
  border-radius: var(--border-radius-s);
  height: var(--button-size-button-main-midi-height);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: var(--margin-s);
  width: 100%;
}

.square-button {
  background-color: var(--common-color-common-black);
  color: var(--common-color-common-white);
  border-radius: var(--border-radius-s);
  height: var(--button-size-button-main-midi-height);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--button-size-button-main-midi-height);
  // &:hover {
  //   background-color: var(--common-color-common-accent);
  // }
}

.action-button > svg,
.square-button > svg {
  height: var(--button-size-button-icon-height);
  width: auto;
  aspect-ratio: 1;
}

.active {
  background-color: var(--common-color-common-accent);
}

.frozen {
  background-color: var(--interactive-color-interactive-background-tertiary);
}
